article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

// Base Styles
h1,h2,h3{
	font-family: 'Aguafina Script', cursive;
}
h1{
	font-size: 72px;
	margin:0;
	padding-top:10px;
}
h2{
	font-size: 62px;
	margin:0;
}
h3{
	font-size: 52px;
}
h4{
	font-size: 22px;
	font-family: 'Source Sans Pro', sans-serif 600;
}
p, ul li{
	font-family: 'Source Sans Pro', sans-serif;
	margin:0;
	line-height: 1.5;
}
a{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}
.wrapper{
	width:80%;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
}

// header
header{
	height:100vh;
	background-image: url("../../assets/home page/hero.jpg");
	background-position: center;
	background-size: cover;
}
.topHeader{
	background-color: #000;
	color:#808080;
	font-size: 14px;
}

.title{
	margin:5px;
}
.rightTitle{
	display:flex;
	width:30%;
	justify-content:flex-end;
}
.rightTitle i, .rightTitle p{
	margin-top:10px;
	margin-bottom: 0;
	padding:5px;
}
.navBar{
	background-color: rgba(0,0,0,0.6);
	display: flex;
	justify-content:space-between;
}
.navBar nav a{
	text-decoration: none;
	color:#fff;
	text-transform: uppercase;
	padding:10px;
}
.navBar img{
	padding:10px;
}
.logo{
	color:#fff;
	text-align: center;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.logo p{
	font-size: 30px;
}
.star{
	padding:0 10px;
}
// end of header
// about section
.about{
	width:75%;
	margin:60px auto;
	display: flex;
}
.aboutText{
	text-align: center;
	margin: 40px;
	padding:10px;
}
.aboutText p{
	padding-top: 10px;
}
// end of about section
// specials section
.specials{
	background-color: rgba(220,220,220, 0.5);
	background-image: url("../../assets/home page/specials-border.png");
	background-repeat: no-repeat;
	background-size: contain;	
	background-position: center;
	height:700px;
	position: relative;
}
.specials h2{
	text-align: center;
	margin:20px;
}
.specials h4{
	text-align: center;
	text-transform: uppercase;
}
.menu{
	margin:70px auto;
	text-align: left;
	width:70%;
}
.wrap{
	display: flex;
	flex-direction:row;
}
ul li{
	list-style-type:none; 
	padding:10px;
}
.allMenu{
	position: absolute;
	top:85%;
	left:50%;
	transform: translate(-50%, -85%);
	background-color: transparent;
	color:#000;
	border:2px solid #000;
	text-transform: uppercase;
	padding:5px 15px;
	font-size: 16px;
	font-weight: 600;
}
.cutleryImage{
	background-color: rgba(220,220,220, 0.5);
}
.cutlery{
	background-image: url("../../assets/home page/cutlery.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height:300px;
	
}
// end of menu section
// reservations section
.reservations{
	background-image: url("../../assets/header-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:400px;
	text-align: center;
	color:#fff;
}
.reservations h2{
	margin:10px;
}
.reservations p{
	margin:10px;
}
form{
	width:70%;
	margin:0 auto;
	display: flex;
	flex-wrap:wrap;
}
input{
	margin:13px;
	width:300px;
	padding:5px;
}
.inputSpecial{
	width:200px;
}
.book{
	background-color: red;
	color:#fff;
	width: 173px;	
	margin:10px;
	padding:0 35px;
}
// end of reservation section
// start services
.services{
	background-color: #F5F5F5;
	height:600px; 
	text-align: center;
}
.services h2, .services p{
	width:50%;
	text-align: center;
	margin:10px auto;
}
.services p{
	margin-bottom: 60px;
}
.gridBox{
	display: flex;
}
.grid{
	position: relative;
}
.grid img{
	margin-top:20px;
	position: absolute;
	top:-53px;
	left:64px;
}
.grid h4{
	background-color: #fff;
	padding-top: 40%;
	height:150px;
	width:250px;
	text-transform: uppercase;
}
// end of services 
// start of preFooter
.preFooter{
	background-image: url("../../assets/header-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color:#fff;
	padding:30px;
}
.preFooterText{
	width:80%;
	margin: 10px auto;
}
.preFooterText p{
	margin-bottom: 30px;
}
// end of prefooter
// newsletter
.newsletter{
	background-color: rgba(0,0,0,0.9);
	color:#fff;
}
.newsWrap{
	width:80%;
	margin:0 auto;
	display: flex;
}
.news, .hours, .address{
	width:33.33%;
}
.news input{
	margin-left:0;
}
.open{
	display: flex;
	justify-content:space-between;
}
.open p{
	padding:5px;
}
.times{
	text-align: right;
}
.address p{
	padding:8px;
}




















*{
	border:1px solid red;
}