.events {
	margin:80px auto;
	background-image: url("../../assets/events page/event-01.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height:500px;
	background-position: center;
	width: 80%;
}
@media (max-width: 1200px) {
	.events{
		margin: 0 auto;
		width:85%;
	}
}

.eventsText{
	text-align: center;
	width:80%;
	margin: 0 auto; 
}
@media (max-width: 1200px) {
	.eventsText{
		width:85%;
	}
}
.eText{
	display:flex;
	justify-content: center;
	padding:35px;
	margin: auto;
}
@media (max-width: 1200px) {
	.eText{
		padding:15px;
	}
}
.eText img{
	padding:10px;
}
@media (max-width: 1200px) {
	.eText img{
		display: none;
	}
}
.ePText{
	padding:35px;
	margin: 20px;	
}
@media (max-width: 1200px) {
	.ePText{
		margin: 10px;
		padding:10px;
	}
}
.map{
	background-image: url("../../assets/events page/event-02.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height:500px;
	width: 80%;
	background-position: center;
	margin:80px auto;
}
@media (max-width: 1200px) {
	.map{
		display: none;
	}
}
.mapButton{
	width:80%;
	margin: 0 auto;
}
.maps{
	display: flex;
	justify-content:space-between;
}
.maps button{
	background-color: transparent;
	text-transform: uppercase;
	border:2px solid #000;
	padding:10px;
	width:200px;
	margin:10px 0 30px 0;
}










