
// start of footer

footer{
	background-image: url("../../assets/header-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:200px;
	text-align: center;
	color: rgba(0,0,0,0.9);
	padding:20px;
}
footer p{
	padding:20px;
}
footer img{
	border-radius: 50%;
	background-color: rgba(0,0,0,0.9);
	padding:15px ;
}
span{
	color: #fff;
}
