// header
.index{
	height:100vh;
	background-image: url("../../assets/home page/hero.jpg");
	background-position: center;
	background-size: cover;
}
.topHeader{
	background-color: #000;
	color:#808080;
	font-size: 14px;
}
@media (max-width: 940px) {
	.topHeader{
		display: none;
	}
}

.title{
	margin:5px;
	width:50%;
	display: flex;
	justify-content:flex-start;
}
.rightTitle{
	display:flex;
	width:50%;
	justify-content:flex-end;
}
.rightTitle i, .rightTitle p{
	padding:5px;
}
.navBar{
	background-color: rgba(0,0,0,0.6);
	display: flex;
	justify-content:space-between;
}
.navBar nav a{
	text-decoration: none;
	color:#fff;
	text-transform: uppercase;
	padding:10px;
}


@media (max-width: 940px) {
	.navBar nav a{
		padding:5px;
	}
}

.navBar img{
	padding:10px;
}
@media (max-width: 940px) {
	.navBar img{
		padding:5px;
	}
}

.logo{
	color:#fff;
	text-align: center;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	margin:0 auto;
}
.logo p{
	width:400px;
	margin:0 auto;
	font-size: 30px;
	display: flex;
	padding:10px;
}
.logo img{
	margin: auto;
	padding:10px;

}
.star{
	padding:10px;
}
// end of header
