.menuTitle{
	background-image: url("../../assets/header-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color:#fff;
	padding:10px;
}
.menuNav a{
	color: #fff;
	text-decoration: none;
	padding:10px;
	margin:5px;
}
.menuTitle img{
	margin: 10px auto;
}
.dinner, .breakfast, .lunch, .wine{
	width:80%;
	margin:0 auto;
}
.grid{	
	display: flex;
	justify-content:space-between;
	padding:0 50px 30px 0;
}
.dinner h4, .breakfast h4, .lunch h4 , .wine h4{
	padding: 0 50px;
}
.menuGrid{
	display: flex;
}
.menuGrid ul{
	margin:0;
	padding:0 50px 0 0;
}
.menuGallery{
	display: flex;
}
 img{
	padding:0;
	margin:0;
	  display: block;
  	max-width:360px;
  	max-height:270px;
  	width: auto;
  	height: auto;
}

