// start of preFooter
.preFooter{
	background-image: url("../../assets/header-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color:#fff;
	padding:30px;
}
.preFooterText{
	width:80%;
	margin: 10px auto;
}
.preFooterText p{
	margin-bottom: 30px;
}
// end of prefooter