// start services
.services{
	background-color: #F5F5F5;
	height:600px; 
	text-align: center;
}
@media (max-width: 940px) {
	.services{
		height:350px;
	}
}
.services h2, .services p{
	width:50%;
	text-align: center;
	margin:10px auto;
}
.services p{
	margin-bottom: 60px;
}
.gridBox{
	display: flex;
}
@media (max-width: 1200px) {
	.gridBox{
		display: none;
	}
}
.grid{
	position: relative;
}

.grid img{
	margin-top:20px;
	position: absolute;
	top:-53px;
	left:64px;
}
.grid h4{
	background-color: #fff;
	padding-top: 40%;
	height:150px;
	width:250px;
	text-transform: uppercase;
}
// end of services 